<!DOCTYPE html>
<html ng-app="DicomViewer">
    <head>
        <meta charset="UTF-8">
        <title>Przeglądarka Dicom</title>

        <link href="style.css" rel="stylesheet">

        <!-- cornerstone depends on jQuery so it must be loaded first-->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>

        <!-- include the cornerstone library -->
        <script src="bower_components/cornerstone/dist/cornerstone.js"></script>
        <script src="bower_components/cornerstoneMath/dist/cornerstoneMath.js"></script>  
        <script src="bower_components/cornerstoneTools/dist/cornerstoneTools.js"></script>

        <script src="bower_components/dicomParser/dist/dicomParser.min.js"></script>  
        <script src="bower_components/image-jpeg2000/dist/jpx.min.js"></script>

        <script src="bower_components/cornerstoneWADOImageLoader/dist/cornerstoneWADOImageLoader.js"></script>  
        <script src="bower_components/jquery-ui/jquery-ui.min.js"></script> 
        <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">



    </head>



    <h1>
        Przeglądarka Dicom
    </h1>
    <div class="menu" >

        <div ng-controller="LoadImageController">
            <input type="file" name="upload" multiple="multiple"  onchange="angular.element(this).scope().fileNameChanged(this.files)"/>
        </div>
        <div ng-controller="ImageOptionsController">
            <button type="button" class="button" ng-click="zoomIn()">Powiększ</button>
            <button type="button" class="button" ng-click="zoomOut()">Pomniejsz</button>
            <button type="button" class="button" ng-click="lRotate()">Obróć w lewo</button>
            <button type="button" class="button" ng-click="rRotate()">Obróć w prawo</button>
            <button type="button" class="button" ng-click="hFlip()">Odbij poziomo</button>
            <button type="button" class="button" ng-click="vFlip()">Odbij pionowo</button>
            <button type="button" class="button" ng-click="invert()">Odwróć</button>
            <button type="button" class="button" ng-click="defaultViewport()">Domyślny</button>


            <br/>
        </div>
    </div>

    <div class ="col-3">

        <div><span id="pixCoords"></span></div>
        <br/>
        <label for="amount">Min - max:</label>
        <input type="text" name="myInput" id="amount" readonly style="border:0;">
        <div id="slider-range"></div>


        <br/>

        Korekcja gamma:
        <br/>
        <input type="range" id="gammaRange" min="0" max="2" step="0.1"/>
        <span id="gammaValue"></span>
        <br/>

        <div id="stackDiv">
            Stack:
            <br/>
            <input type="range" id="stackRange" min="0" step="1" value="0"/>
            <span id="stackNum"/>
        </div>
        <br/>
        Zapisz:
        <div ng-controller="SaveImageController">
        <input type="text" ng-model="filename"/>
        <button type="button" class="button" ng-click="save()">Zapisz</button>
        </div>
        <br/>
        Narzędzie:
        </br>
          <div class="tools" ng-controller="ImageToolsController">
              <a class="linkButton" ng-click="noTool()" ng-class="{active: getTool() === 'noTool'}">Brak Narzędzia</a>
              <a class="linkButton" ng-click="length()" ng-class="{active: getTool() === 'length'}">Odległość</a>
              <a class="linkButton" ng-click="angle()" ng-class="{active: getTool() === 'angle'}">Kąt</a>
              <a class="linkButton" ng-click="rectangleROI()" ng-class="{active: getTool() === 'rectangleROI'}">Prostokąt</a>
              <a class="linkButton" ng-click="label()" ng-class="{active: getTool() === 'label'}">Etykieta</a>
          </div>
        <br/><br/>

        <div id="dicomMini" style="width:128px;height:128px;"></div>
        <br/><br/>
        <!--<<div><span id="dicomSize"></span></div>
        div><span id="dicomMiniSize"></span></div>
        
        <div><span id="globalCounter"></span></div
        <div><span id="coords"></span></div>
        <br/>>-->

        <!-- <div><span id="zoomcoord"></span></div>
        <div><span id="canvasBig"></span></div> 
        
        <br/><br/>
        <div><span id="trans"></span></div>
        <br/>
        <br/>
        Testowe coordinates:
        <br/>
        <div><span id="testCoords"></span></div>
        <br/>
        <div><span id="elRect"></span></div>-->
    </div>
    <div class ="col-6">
        <div class="container">


            <div id="dicomImage" style="width:512px;height:512px;">
            </div>

        </div>
    </div>
    <div class ="col-3">


        <input class="form-control" type="text" id="wadoURL" placeholder="Wpisz WADO URL" />
        <br/>
        <button type="button" class="button" id="download">Ściągnij z serwera</button>
        <br/>
        <div  class="metdata">
            <h4>Dane pacjenta</h4> 
            Imię i nazwisko: <span data-dicom="x00100010"></span> 
            <br/>
            ID: <span  data-dicom="x00100020"></span> 
            <br/>
            Data urodzenia: <span data-dicom="x00100030"></span>
            <br/>
            Płeć: <span  data-dicom="x00100040"></span>
            <br/>
            Wzrost: <span data-dicom="x00101020"></span>
            <br/>
            Waga: <span data-dicom="x00101030"></span>
            <br/><br/>

            Lekarz: <span data-dicom="x00321032"></span>
            <br/>
            Typ badania: <span data-dicom="x00080060"></span>
            <br/>
            Zlecone badanie: <span  data-dicom="x00321060"></span>
            <br/><br/>

            Opis: <span  data-dicom="x00081030"></span>
            <br/>
            Data: <span data-dicom="x00080020"></span>
            <br/>

            Opis serii: <span data-dicom="x0008103"></span>
            <br/><br/>

            Badanie przeprowadzał: <span  data-dicom="x00081070"></span> 
            <br/>
            Producent urządzenia: <span  data-dicom="x00080070"></span>
            <br/>
            Model: <span data-dicom="x00081090"></span>
        </div>
    </div>
    <script src="app.js"></script>
    <script src="ImageOptions.js"></script>
    <script src="ImageOptionsController.js"></script>
    <script src="imageTools.js"></script>
    <script src="imageToolsController.js"></script>
    <script src="Metadata.js"></script>
    <script src="LoadImageController.js"></script>
    <script src="LoadImage.js"></script>
     <script src="Elements.js"></script>
     <script src="MiniRectangle.js"></script>
     <script src="ViewportHandling.js"></script>
     <script src="SaveImageController.js"></script>
     <script src="SaveImage.js"></script>
</body>

</html>
